@model OTOMCollapse.Models.ViewModels.PropertyOwners.ClaimsHistoryGroupViewModel

<article>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.LossesIn5Years)
    </div>
    <div class="editor-field">
        @Html.RadioButtonFor(model => model.LossesIn5Years, "Yes")
        @Html.RadioButtonFor(model => model.LossesIn5Years, "No")
    </div>
</article>


