@model OTOMCollapse.Models.ViewModels.PropertyOwners.DeclarationQuestionsGroupViewModel

<article>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Question1)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.Question1)
    </div>
</article>


<article>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Question2)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.Question2)
    </div>
</article>