@model OTOMCollapse.Models.ViewModels.PropertyOwners.GeneralCoversGroupViewModel

<article>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.HasEmployees)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.HasEmployees)
    </div>
</article>


<article>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.RequirePropertyOwnersLiabilityCover)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.RequirePropertyOwnersLiabilityCover)
    </div>
</article>