@model OTOMCollapse.Models.RepeatGroups.TestRepeatGroupNested1

<article>
    <div class="editor-label">
        @Html.LabelFor(model => model.TestRepeatGroupNestedProperty1)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TestRepeatGroupNestedProperty1)
    </div>
</article>