body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border-radius:5px 5px;
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    background-color:pink;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
 display:inline-block;
  width: 400px;
}

.repeat-group-label {
    margin: 1em 0 0 0;
 
  width: 400px;
}


div > .editor-label > span{
     width: 400px;
  float:left;
    padding-top: 8px;
    padding-right: 5px;
}

.editor-field {
    display:inline-block;
    margin: 0.5em 0 0 0;
}

article{
    display:block;
    margin:10px 5px;
    padding:5px 5px 5px 50px;
}



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
