@model OTOMTests.Model.ViewModels.StandardQuestionsGroupViewModel

<article>
    <div class="editor-label">
        @Html.LabelFor(model => model.TargetPremium)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TargetPremium)
    </div>
</article>


<article>
    <div class="editor-label">
        @Html.LabelFor(model => model.TradingName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TradingName)
    </div>
</article>