@model OTOMTests.Model.RepeatGroups.Location

<div class="editor-label">
    @Html.LabelFor(model => model.PropertyLocation)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PropertyLocation)
</div>